.premium-container {  
     
    padding: 40px 0;   
}  

.plans {  
    display: flex;  
    justify-content: center;   
    gap: 10px;  
}  


.free-plan,  
.premium-plan {  
    background-color: #ffffff; /* White background */  
    border: 1px solid #ddd; /* Light border */  
    border-radius: 8px; /* Rounded corners */  
    padding: 20px; /* Internal padding */  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */  
}  

.free-plan span,  
.premium-plan span {  
    font-weight: bold; /* Bold heading */  
}  

.free-plan li.disabled {  
    text-decoration: line-through; /* Strike through text */  
    color: rgba(0, 0, 0, 0.5); /* Make text look disabled */  
} 

.free-plan hr, .premium-plan hr{
    opacity: 0.1;
}

ul {  
    padding: 0;  
    list-style-type: none;   
}  

